nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    height: 10vh;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-direction: column;
}

body{
    background-image: url("https://images.unsplash.com/photo-1682685796002-e05458d61f07?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    width: 250px
    ;
}